# Git
.git
.gitignore

# IDEs
.idea
.vscode
*.swp
*.swo

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Временные файлы
tmp/
temp/
*.log

# Документация
README.md
docs/

# CI/CD
.github/
.gitlab-ci.yml
